{# -*-jinja2-*- #}
{% extends "layout.html" %}

{% block content %}

<h1>{{post.title}}</h1>
{{post.date}}
{% if post.links["subindexpages"] | length > 0 %}
<hr/>
<b id="up_head"> Unterseiten:  </b>
<ul class="nav flex-column flex-sm-row " labeledby="up_head">
  {% for d in post.links["subindexpages"] %}
  <li class="nav-item">
    <a href="{{d.url}}" class="nav-link">
      <h6> {{d.title}} <small class="text-muted">{{d.desc}} </small> </h6>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ post.html|safe }}


{% if post.links["subpages"] |length > 0 %}
<ul class="nav flex-column flex-sm-row" labeledby="inf_head">
  {% for d in post.sub_pages %}
    <li class="nav-item">
      <a href="{{d.url}}" class="nav-link  text-info">
	<h6> {{d.title}} <small class="text-muted">{{d.desc}} </small>
	</h6>
    </a>
      
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if post.links["files"] |length > 0 %}

<hr/>

<b id="inf_head">Files:</b>
<ul>
  {% for d in post.links.files %}
    <li>
      <a href="{{d.url}}">{{d.title}} </a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if post.links["images"] |length > 0 %}

<hr/>

<b id="inf_head">Images:</b>
<ul>
  {% for d in post.links.images %}
    <li>
      <a href="{{d.url}}">{{d.title}} </a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
